#main-footer {
    background: rgb(17, 79, 121);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

#main-footer p {
    margin: 0;
    text-align: center;
}